html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #DBDBDB;
    user-select: none;
}
